.modal {
  display: block;
  position: fixed;
  z-index: 2147483647;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 85%;
  overflow-y: scroll;
  padding: 0;
  height: 100vh;
  /* max-width: 900px; */
  animation: zoom 0.6s;
}

#caption {
  margin: auto;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #bbb;
}

@media (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}


#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(61, 61, 61, 0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #2b2a2adb;
}